*{
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  
 
}

.contenedor{
 width:100%;
 background-color: rgb(207, 207, 207);
}

body{
  background-color: rgb(207, 207, 207);
}
.parte-izq {
  background-color: rgb(0, 255, 0);
  float: left;
  width: 31%;
}

.parte-izq a{
  background-color: rgb(0, 255, 0);
}

.parte-central{
  background-color:yellow;
  float: left;
  width: 34%;
  margin:0% 2.5% 0% 2.5%;
}

.parte-central img{
  float: right;
  width: 45%;
  height: auto;
  padding: 0% 0% 0% 2%;
  }

.parte-central p{
  width: 60%;
 
}
.parte-der{
  background-color: gray;
  float: left;
  width: 30%;
}

h1 {
  padding-bottom: 3%;
}

@media screen and (max-width:760px) {

  .parte-izq {
  width: 30%;
  }

  .parte-central{
    float:right;
    width: 64%;
    margin: 0%;

  }
  .parte-central p{
    font-size: 15px;
    width: 70%;
  }

  .parte-der{
    float:right;
    width: 64%;
    font-size: 15px;
  }

  .parte-central img {
    width: 30%;
    margin: 2% 0;
    float: inline-start;
  }

  h2{
    font-size: 20px;
  }
}


@media screen and (max-width:320px) {

  .parte-izq {
    width: 100%;
  }
  
  .parte-central{
    float:left;
    width: 100%;
    margin: 0%;
  }
    
  .parte-der{
    float:left;
    width: 100%;
  }
  
  .parte-central img {
    visibility:hidden;
    width: 0%;
  }

  .parte-central p {
    float:left;
    width: 100%;
    margin: 0%;
  }
  }